---
import { getLangFromUrl } from '~/i18n/utils';
import { services } from '~/navigation';
import type { ServiceCategory } from '~/types';
import { getPermalink } from '~/utils/permalinks';

const lang = getLangFromUrl(Astro.url);
let languageServices: Array<ServiceCategory>;
let title: string;
let subtitle: string;
let discoverMore: string;
let discoverServices: string;

if (lang === 'ar') {
  languageServices = services.ar;
  title = 'تعرف على   <span class="text-[#FF7A00]"> خبراتنا</span>';
  subtitle = 'نحن هنا لمساعدتك';
  discoverMore = 'تعرف على المزيد';
  discoverServices = 'تعرف على كامل خدماتنا';
} else if (lang === 'en') {
  languageServices = services.en;
  title = 'Discover our <span class="text-[#FF7A00]">Expertise</span>';
  subtitle = 'We are here to help you';
  discoverMore = 'Discover more';
  discoverServices = 'Discover all our services';
} else {
  languageServices = services.fr;
  title = 'Découvrez notre <span class="text-[#FF7A00]">Expertise</span>';
  subtitle = 'We are here to help you';
  discoverMore = 'Découvrez plus';
  discoverServices = 'Découvrez tous nos services';
}

const firstServices = languageServices.slice(0, 3);
---

<section class="max-w-5xl mx-auto my-10">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="text-center pb-6 md:pb-10 max-w-6xl mx-auto">
      <h2 class="pt-0 text-4xl md:text-6xl font-bold leading-tighter tracking-tighter font-heading" set:html={title} />
      <p class="text-xl text-muted">
        <span class="font-semibold text-lg text-[#FF7A00] uppercase" set:html={subtitle} />
      </p>
    </div>
  </div>
  <div class="flex flex-col bg-[#FFD7B2] p-8 rounded-lg justify-center">
    <div class="flex flex-col md:grid gap-8 gap-x-12 sm:gap-y-8 lg:grid-cols-3">
      {
        firstServices.map((service, index) => (
          <div class="relative flex flex-col bg-white rounded-lg p-6 h-full">
            {/* Icon Section - Fixed height */}
            <div class="h-[58px] flex items-center justify-center mb-6">
              {index === 0 ? (
                <svg width="57" height="58" viewBox="0 0 57 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M45.0205 3.5H52.5C54.9814 3.5 57 5.51855 57 8C57 10.4815 54.9814 12.5 52.5 12.5V41C52.5 43.4814 50.4814 45.5 48 45.5H30V48.7764C31.7423 49.3976 33 51.0471 33 53C33 55.4814 30.9814 57.5 28.5 57.5C26.0186 57.5 24 55.4814 24 53C24 51.0471 25.2577 49.3976 27 48.7764V45.5H9C6.51855 45.5 4.5 43.4814 4.5 41V12.5C2.01855 12.5 0 10.4815 0 8C0 5.51855 2.01855 3.5 4.5 3.5H12V2C12 1.17162 12.6709 0.5 13.5 0.5C14.3291 0.5 15 1.17162 15 2V3.5H42.0205V2C42.0205 1.17162 42.6914 0.5 43.5205 0.5C44.3496 0.5 45.0205 1.17162 45.0205 2V3.5ZM27 53C27 53.8269 27.6724 54.5 28.5 54.5C29.3276 54.5 30 53.8269 30 53C30 52.1731 29.3276 51.5 28.5 51.5C27.6724 51.5 27 52.1731 27 53ZM48 42.5C48.8276 42.5 49.5 41.8269 49.5 41V12.5H7.5V41C7.5 41.8269 8.17236 42.5 9 42.5H48ZM4.5 9.5H52.5C53.3276 9.5 54 8.82691 54 8C54 7.17309 53.3276 6.5 52.5 6.5H4.5C3.67236 6.5 3 7.17309 3 8C3 8.82691 3.67236 9.5 4.5 9.5ZM41.581 39.0605C40.9988 39.6428 40.0251 39.6256 39.46 39.0605C38.874 38.4746 38.874 37.5254 39.46 36.9394L40.6494 35.75L39.46 34.5605C38.874 33.9746 38.874 33.0254 39.46 32.4394C40.0459 31.8535 40.9951 31.8535 41.581 32.4394L42.7705 33.6289L43.96 32.4394C44.5459 31.8535 45.4951 31.8535 46.081 32.4394C46.667 33.0254 46.667 33.9746 46.081 34.5605L44.8916 35.75L46.081 36.9394C46.667 37.5254 46.667 38.4746 46.081 39.0605C45.4986 39.6429 44.5251 39.6257 43.96 39.0605L42.7705 37.8711L41.581 39.0605ZM39.46 22.5605C40.019 23.1196 41.0218 23.1197 41.581 22.5605L42.7705 21.3711L43.96 22.5605C44.5306 23.131 45.5112 23.1304 46.081 22.5605C46.667 21.9746 46.667 21.0254 46.081 20.4394L44.8916 19.25L46.081 18.0605C46.667 17.4746 46.667 16.5254 46.081 15.9394C45.4951 15.3535 44.5459 15.3535 43.96 15.9394L42.7705 17.1289L41.581 15.9394C40.9951 15.3535 40.0459 15.3535 39.46 15.9394C38.874 16.5254 38.874 17.4746 39.46 18.0605L40.6494 19.25L39.46 20.4394C38.874 21.0254 38.874 21.9746 39.46 22.5605ZM19.5 20C19.5 22.4814 17.4814 24.5 15 24.5C12.5185 24.5 10.5 22.4814 10.5 20C10.5 17.5186 12.5185 15.5 15 15.5C17.4814 15.5 19.5 17.5186 19.5 20ZM16.5 20C16.5 19.1731 15.8276 18.5 15 18.5C14.1724 18.5 13.5 19.1731 13.5 20C13.5 20.8269 14.1724 21.5 15 21.5C15.8276 21.5 16.5 20.8269 16.5 20ZM22.5 32C23.3291 32 24 31.3284 24 30.5V29.6211L33.4394 39.0605C33.9852 39.6063 34.9787 39.6424 35.5605 39.0605C36.1465 38.4746 36.1465 37.5254 35.5605 36.9395L26.1211 27.5H27C27.8291 27.5 28.5 26.8284 28.5 26C28.5 25.1716 27.8291 24.5 27 24.5H22.5C21.6709 24.5 21 25.1716 21 26V30.5C21 31.3284 21.6709 32 22.5 32ZM30.8789 21.5H24C23.1709 21.5 22.5 20.8284 22.5 20C22.5 19.1716 23.1709 18.5 24 18.5H30.8789L30.4395 18.0605C29.8535 17.4746 29.8535 16.5254 30.4395 15.9394C31.0254 15.3535 31.9746 15.3535 32.5605 15.9394L35.5605 18.9394C36.1465 19.5254 36.1465 20.4746 35.5605 21.0605L32.5605 24.0605C32.2676 24.3535 31.8838 24.5 31.5 24.5C31.1162 24.5 30.7324 24.3535 30.4395 24.0605C29.8535 23.4746 29.8535 22.5254 30.4395 21.9394L30.8789 21.5Z"
                    fill="#FF7A00"
                  />
                </svg>
              ) : index === 1 ? (
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M26 10.8334C26.0025 9.96676 25.8317 9.1084 25.4977 8.30876C25.1637 7.50912 24.6731 6.78435 24.0549 6.17708C23.4366 5.5698 22.7032 5.09229 21.8977 4.77261C21.0922 4.45294 20.2309 4.29756 19.3645 4.31562C18.4981 4.33368 17.6441 4.52481 16.8526 4.87777C16.0611 5.23073 15.3482 5.7384 14.7558 6.3709C14.1634 7.00341 13.7035 7.74799 13.4031 8.56086C13.1026 9.37372 12.9678 10.2385 13.0065 11.1042C11.7329 11.4317 10.5505 12.0446 9.54896 12.8967C8.54737 13.7488 7.75281 14.8176 7.22545 16.0222C6.69809 17.2268 6.45177 18.5356 6.50513 19.8495C6.5585 21.1634 6.91015 22.448 7.53346 23.6059C6.43752 24.4962 5.57571 25.6409 5.02303 26.9402C4.47034 28.2396 4.2435 29.6543 4.36225 31.0613C4.48099 32.4684 4.94173 33.8251 5.70437 35.0134C6.46701 36.2018 7.50846 37.1858 8.73812 37.8799C8.58628 39.0547 8.67689 40.2482 9.00438 41.3867C9.33187 42.5251 9.88927 43.5843 10.6422 44.4989C11.395 45.4135 12.3274 46.1641 13.3818 46.7042C14.4361 47.2443 15.5899 47.5625 16.7721 47.6393C17.9542 47.716 19.1395 47.5495 20.2548 47.1502C21.3701 46.7509 22.3917 46.1271 23.2564 45.3175C24.1212 44.5079 24.8108 43.5296 25.2827 42.443C25.7546 41.3564 25.9987 40.1846 26 39V10.8334Z"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M19.5 28.1667C21.319 27.5268 22.9075 26.3618 24.0645 24.8192C25.2214 23.2765 25.895 21.4254 26 19.5"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.0063 11.1042C13.0492 12.1523 13.3451 13.1745 13.8687 14.0834"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7.53369 23.608C7.93006 23.2852 8.35421 22.9981 8.80119 22.75"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.0001 39.0001C11.5069 39.0008 10.0389 38.6157 8.73828 37.8821"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M26 28.1667H34.6667"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M26 39H39C40.1493 39 41.2515 39.4565 42.0641 40.2692C42.8768 41.0819 43.3333 42.1841 43.3333 43.3333V45.5"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M26 17.3333H43.3333"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M34.6665 17.3333V10.8333C34.6665 9.68406 35.1231 8.58186 35.9357 7.7692C36.7484 6.95655 37.8506 6.5 38.9998 6.5"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M34.6668 29.2499C35.2651 29.2499 35.7502 28.7649 35.7502 28.1666C35.7502 27.5683 35.2651 27.0833 34.6668 27.0833C34.0685 27.0833 33.5835 27.5683 33.5835 28.1666C33.5835 28.7649 34.0685 29.2499 34.6668 29.2499Z"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M38.9998 7.58341C39.5981 7.58341 40.0832 7.09839 40.0832 6.50008C40.0832 5.90177 39.5981 5.41675 38.9998 5.41675C38.4015 5.41675 37.9165 5.90177 37.9165 6.50008C37.9165 7.09839 38.4015 7.58341 38.9998 7.58341Z"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M43.3333 46.5834C43.9316 46.5834 44.4167 46.0984 44.4167 45.5001C44.4167 44.9018 43.9316 44.4167 43.3333 44.4167C42.735 44.4167 42.25 44.9018 42.25 45.5001C42.25 46.0984 42.735 46.5834 43.3333 46.5834Z"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M43.3333 18.4167C43.9316 18.4167 44.4167 17.9316 44.4167 17.3333C44.4167 16.735 43.9316 16.25 43.3333 16.25C42.735 16.25 42.25 16.735 42.25 17.3333C42.25 17.9316 42.735 18.4167 43.3333 18.4167Z"
                    stroke="#FF7A00"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              ) : (
                <svg width="53" height="54" viewBox="0 0 53 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M51.94 42.8996H47.7V40.7796H49.82C50.403 40.7796 50.88 40.3026 50.88 39.7196V10.0396C50.88 9.45661 50.403 8.9796 49.82 8.9796H39.8772C39.1246 8.33301 38.1706 7.9196 37.1 7.9196C37.1 7.9196 37.1 1.59066 37.1 1.55973C37.1 0.836669 36.2905 0.306022 35.6266 0.584346L20.988 6.8596H16.96C15.2322 6.8596 13.7164 7.69698 12.7518 8.9796H3.18C2.59701 8.9796 2.12 9.45661 2.12 10.0396V39.7196C2.12 40.3026 2.59701 40.7796 3.18 40.7796H5.3V42.8996H1.06C0.477011 42.8996 0 43.3766 0 43.9596V48.1996C0 48.4858 0.116589 48.7508 0.307379 48.9522L4.54738 53.1922C4.74878 53.383 5.01378 53.4996 5.3 53.4996H20.14C20.723 53.4996 21.2 53.0226 21.2 52.4396C21.2 51.8566 20.723 51.3796 20.14 51.3796H5.73457L2.12 47.765V45.0196H50.88V47.765L47.2654 51.3796H28.62C28.037 51.3796 27.56 51.8566 27.56 52.4396C27.56 53.0226 28.037 53.4996 28.62 53.4996H47.7C47.9862 53.4996 48.2512 53.383 48.4526 53.1922L52.6926 48.9522C52.8834 48.7508 53 48.4858 53 48.1996V43.9596C53 43.3766 52.523 42.8996 51.94 42.8996ZM37.1 10.0396C38.266 10.0396 39.22 10.9936 39.22 12.1596C39.22 13.3256 38.266 14.2796 37.1 14.2796V10.0396ZM22.26 8.61917L34.98 3.17076V21.1484L22.26 15.7V8.61917ZM21.6028 28.0596H18.02V17.4596H20.14V24.8796C20.14 25.0492 20.1824 25.2082 20.2566 25.3566L21.6028 28.0596ZM16.96 8.9796H20.14V15.3396H16.96C15.211 15.3396 13.78 13.9086 13.78 12.1596C13.78 10.4106 15.211 8.9796 16.96 8.9796ZM12.7429 15.4474C12.9653 15.557 13.1296 15.7533 13.3014 15.932C13.9962 16.6551 14.9164 17.1585 15.9053 17.355C15.9023 21.1513 15.8993 24.9476 15.8963 28.7438C15.896 29.1283 15.9098 29.5515 16.1679 29.8365C16.4604 30.1594 16.9511 30.1825 17.3869 30.1824C19.1891 30.1823 20.9912 30.1821 22.7934 30.182C24.1512 30.1818 24.6992 29.4266 24.0376 28.1606C23.7051 27.5241 23.3725 26.8877 23.0399 26.2512C22.7536 25.7031 22.4639 25.1459 22.3403 24.54C22.2508 24.1011 22.2513 23.6494 22.2522 23.2015C22.2555 21.4707 22.2589 19.74 22.2623 18.0092C26.5281 19.8385 30.794 21.6677 35.0598 23.497C35.6334 23.743 36.3818 23.9584 36.8122 23.5064C37.0811 23.2238 37.0974 22.7924 37.0979 22.4023C37.1008 20.4222 37.1036 18.4421 37.1065 16.4619C37.9749 16.1858 38.8433 15.9096 39.7118 15.6334C40.0213 15.535 40.3319 15.4363 40.6511 15.3759C41.9213 15.1358 43.2393 15.5154 44.5197 15.3375C44.5198 21.6982 44.52 28.0589 44.5201 34.4196C32.5068 34.4196 20.4934 34.4196 8.48 34.4196C8.48 34.4196 8.48 24.0604 8.48 23.1186C8.48 21.2107 8.48 19.3027 8.48 17.3948C8.48 16.9546 8.4745 16.514 8.48 16.0738C8.48861 15.3859 8.41867 15.4256 9.06066 15.3428C9.98874 15.223 11.0072 15.3325 11.944 15.3276C12.2159 15.3261 12.4991 15.3272 12.7429 15.4474ZM4.24 38.6596V11.0996H11.766C11.7024 11.4388 11.66 11.7992 11.66 12.1596C11.66 12.52 11.7024 12.8804 11.766 13.2196H7.42C6.83701 13.2196 6.36 13.6966 6.36 14.2796V35.4796C6.36 36.0626 6.83701 36.5396 7.42 36.5396H45.58C46.163 36.5396 46.64 36.0626 46.64 35.4796V14.2796C46.64 13.6966 46.163 13.2196 45.58 13.2196H41.1916C41.2764 12.8804 41.34 12.5306 41.34 12.1596C41.34 11.7886 41.2764 11.4388 41.1916 11.0996H48.76V38.6596H4.24ZM45.58 42.8996H7.42V40.7796H45.58V42.8996Z"
                    fill="#FF7A00"
                  />
                  <path
                    d="M8.47992 49.2596C9.06534 49.2596 9.53992 48.7851 9.53992 48.1996C9.53992 47.6142 9.06534 47.1396 8.47992 47.1396C7.8945 47.1396 7.41992 47.6142 7.41992 48.1996C7.41992 48.7851 7.8945 49.2596 8.47992 49.2596Z"
                    fill="#FF7A00"
                  />
                  <path
                    d="M12.7202 49.2596C13.3056 49.2596 13.7802 48.7851 13.7802 48.1996C13.7802 47.6142 13.3056 47.1396 12.7202 47.1396C12.1347 47.1396 11.6602 47.6142 11.6602 48.1996C11.6602 48.7851 12.1347 49.2596 12.7202 49.2596Z"
                    fill="#FF7A00"
                  />
                  <path
                    d="M24.3798 53.4996C24.9652 53.4996 25.4398 53.0251 25.4398 52.4396C25.4398 51.8542 24.9652 51.3796 24.3798 51.3796C23.7944 51.3796 23.3198 51.8542 23.3198 52.4396C23.3198 53.0251 23.7944 53.4996 24.3798 53.4996Z"
                    fill="#FF7A00"
                  />
                  <path
                    d="M45.5802 49.2596C46.1655 49.2596 46.6402 48.785 46.6402 48.1996C46.6402 47.6143 46.1655 47.1396 45.5802 47.1396H39.2202C38.6348 47.1396 38.1602 47.6143 38.1602 48.1996C38.1602 48.785 38.6348 49.2596 39.2202 49.2596H45.5802Z"
                    fill="#FF7A00"
                  />
                  <path
                    d="M28.6201 32.2997H41.3401C41.9254 32.2997 42.4001 31.8251 42.4001 31.2397C42.4001 30.6543 41.9254 30.1797 41.3401 30.1797H28.6201C28.0347 30.1797 27.5601 30.6543 27.5601 31.2397C27.5601 31.8251 28.0347 32.2997 28.6201 32.2997Z"
                    fill="#FF7A00"
                  />
                  <path
                    d="M34.9799 28.0597H41.3399C41.9253 28.0597 42.3999 27.5851 42.3999 26.9997C42.3999 26.4143 41.9253 25.9397 41.3399 25.9397H34.9799C34.3945 25.9397 33.9199 26.4143 33.9199 26.9997C33.9199 27.5851 34.3945 28.0597 34.9799 28.0597Z"
                    fill="#FF7A00"
                  />
                </svg>
              )}
            </div>

            {/* Title Section - Fixed height with ellipsis for overflow */}
            <a href={service.href} class="hover:text-orange-600">
              <div class="h-12 flex items-center justify-center mb-4">
                <h3 class="text-lg font-bold text-center line-clamp-2">{service.title}</h3>
              </div>
            </a>

            {/* Description Section - Grows to fill remaining space */}
            <div class="flex-grow">
              <p class="text-gray-600 text-md text-center">{service.description}</p>
            </div>

            {/* Discover more Section - Grows to fill remaining space */}
            <a href={service.href} class="mt-4 flex items-center justify-center group">
              <div class=" flex items-center gap-2 text-[#FF7A00] md:transition-all md:duration-700 md:ease-in-out">
                <span
                  class="md:opacity-0 md:max-w-0 md:overflow-hidden md:transition-all md:duration-700 md:group-hover:max-w-[200px] md:group-hover:opacity-100 md:whitespace-nowrap"
                  set:html={discoverMore}
                />
                <svg
                  class="mt-1 w-5 h-5 transform transition-all rtl:rotate-180 duration-700 ease-in-out group-hover:translate-x-1"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </a>
          </div>
        ))
      }
    </div>
    <div class="flew justify-center mx-auto">
      <a
        href={getPermalink('/services')}
        class="flex justify-center w-52 mt-8 text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-300 font-medium rounded-md text-sm px-5 py-2.5 mx-6 text-center"
        set:html={discoverServices}
      />
    </div>
  </div>
</section>
