---
import { getLangFromUrl, useTranslatedPath } from '~/i18n/utils';
import type { Portfolio } from '~/types';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  portfolio: Portfolio;
}

const { portfolio } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const link = translatePath(getPermalink(portfolio.permalink, 'portfolio'));
---
<a href={link} transition:name={portfolio.id} class:list={[
  'relative bg-center flex flex-col justify-end shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur',
  {
    'lg:col-span-3 lg:row-span-2 md:col-span-4 md:row-span-1 sm:col-span-3': portfolio.order === 1 || portfolio.order === 2,
  },
  {
    'lg:col-span-3 md:col-span-2 lg:row-span-6 md:row-span-1 sm:col-span-3': portfolio.order === 3,
  },
  {
    'lg:col-span-3 lg:row-span-3 md:row-span-1 md:col-span-3 sm:col-span-3': portfolio.order === 4,
  },
  {
    'lg:col-span-6 lg:row-span-4 md:col-span-4 sm:col-span-3': portfolio.order === 5 ,
  },
  {
    'lg:col-span-3 lg:row-span-3 md:row-span-1 md:col-span-3 sm:col-span-3': portfolio.order === 6,
  },
]}>
      <img class="h-full object-cover" src={portfolio.image} alt={portfolio.title}>
      <div class="w-full h-full absolute p-6 bg-gradient-to-t from-black/40 from-20% flex flex-col justify-end">
        <div class="mb-0">
          <div class="text-lg font-bold text-white uppercase" style="text-shadow: 0 0px 2px rgb(69, 69, 69);">{portfolio.title}</div>
          <p class="font-semi uppercase text-white" style="text-shadow: 0 0px 2px black;">{portfolio.category ? portfolio.category.title : ""}</p>    
        </div>
        </div>
  </a>